<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462205201821-6edb2458rkjjg6f6ltbgo9vrveg08k7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462205201821-6edb2458rkjjg6f6ltbgo9vrveg08k7v</string>
	<key>API_KEY</key>
	<string>AIzaSyBiPRnYG8jpx9pqGlgh6BtJbU5tCcqHeeg</string>
	<key>GCM_SENDER_ID</key>
	<string>462205201821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.location.agent</string>
	<key>PROJECT_ID</key>
	<string>trans-academia</string>
	<key>STORAGE_BUCKET</key>
	<string>trans-academia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462205201821:ios:12e99f2d04b31a75641374</string>
</dict>
</plist>